SHARED_PASSWORD=<initial-password-for-new-employee>

SPRING_DATASOURCE_URL=jdbc:postgresql://database-service:5432/warehouse_db

SPRING_DATA_REDIS_HOST=redis-service
SPRING_DATA_REDIS_PORT=6379

SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka-service:19092

POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=<your-postgres-password>

POSTGRES_AUTH_DATASOURCE_URL=jdbc:postgresql://database-auth-service:5432/warehouse_auth_db 
POSTGRES_AUTH_USERNAME=postgres-auth
POSTGRES_AUTH_PASSWORD=<your-postgres-auth-password>

KC_BOOTSTRAP_ADMIN_PASSWORD=<your-keycloak-password>
KEYCLOAK_CLIENT_SECRET=<your-client-secret>

SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWKSETURI=http://keycloak:8080/realms/warehouse/protocol/openid-connect/certs
SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_TOKENURI=http://keycloak:8080/realms/warehouse/protocol/openid-connect/token
WAREHOUSE_KEYCLOAK_ADMINURL=http://keycloak:8080/admin/realms/warehouse